*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: grey; */

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#headers {
    font-weight: 800;
    font-size: 16px;
}

.right-links {
    display: flex;
    width: 300px;
    justify-content: space-between;

}

.subtext {
    display: flex;
    align-items: center;
}

/* form {
    display: flex;
    justify-content: center;
    width: 200px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;
} */

.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;
    padding: 8px;
    border: solid 1px black;
    border-radius: 4px;
}

button {
    flex: 1 1 80px;
    border-radius: 4px;
    border: none;
    background-color: blue;
    padding: 8px;
    justify-content: center;
    font-size: 1rem;
}

.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.header2 .title {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.bodytext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

img {
    width: 200px;
    height: 180px;
    border-radius: 50%;
    margin: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    background-color:#1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100px;
}

.signup {
    display: flex;
    flex-direction: column;
    color:#1f2937;
    align-items: center;
    font-style: italic;
}

.quote {
    display: flex;
    flex-direction: column;
    color:#1f2937;
    align-items: center;
    font-style: italic;
}